$serif-stack: 'Adobe Caslon Pro', 'Caslon', 'Times new roman', Times, serif;
$sans-stack: 'Haas Grot Disp 45', Helvetica, Arial, sans-serif;
$height: 80px;

$factor: 0.9;
$mobile_factor: 0.7;

$xlarge: #{120 * $factor}px;
$large: #{70 * $factor}px;
$intro: #{40 * $factor}px;
$body: #{24 * 0.95}px;
$small: #{16 * 0.95}px;
$xsmall: #{14 * 0.95}px;

$mobile_xlarge: #{120 * 0.45}px;
$mobile_large: #{60 * $mobile_factor}px;
$mobile_intro: #{36 * $mobile_factor}px;
$mobile_body: #{24 * 0.95}px;
$mobile_small: #{16 * 0.95}px;

$black: rgba(0, 0, 0, 1);
$white: rgba(254, 254, 254, 1);
$grey: #e5e5e5;
$darkgrey: #959595;
$hotpink: #ff00b4;
$neongreen: #00ff00;

$transition: cubic-bezier(0.23, 1, 0.32, 1);

$full-height: 100vh;

$small-margin: 5px;
$small-vertical-margin: 5px;
$large-vertical-margin: 32px;

$breakpoints: (
  'small': (
    max-width: 800px
  ),
  'medium': (
    max-width: 1000px
  ),
  'large': (
    max-width: 1600px
  ),
  'short': (
    max-height: 700px
  )
);

/// Responsive manager.
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin screen-size($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
